<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="School" content="A web site to learn programming">
    <title>School Devs</title>
    {% block head %}  {% endblock head %}
</head>
<body>

    <header>
        <div class="links">
            <a href="/" class="active">Teachers</a>
            <a href="/students">Students</a>
        </div>
    
    </header>
     {% block content %}
     {% endblock content %}
</body>
</html>