<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="School" content="A web site to school controller">
    <title>School Manager</title>
    {% block head %}  {% endblock head %}
</head>
<body>
    <header>
        <div class="links">
            <a href="/" class="active">Professores</a>
            <a href="/students">Estudantes</a>
        </div>
    </header>
     {% block content %}
     {% endblock content %}
</body>
</html>
