@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #3f3c3f;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}
 /* === HEADER AND CLASS: LINKS FROM HEADER === */
header {
    background-color: rgb(236, 226, 226);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}
.links {
    font-size: 22px;  
}
.links a + a {
    margin-left: 35px;
}
.links a {
    text-decoration: none;
    color: #777;
    font-weight: bold;
    position: relative;
}
.links a.active {
    font-weight: bold;
    color: var(--primary-color)
}
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}
.links a:hover:after {
    width: 100%;
    transition: width 500ms ease-in-out;
}

/* === CLASS: CARD === */

.card {
    background-color: rgb(236, 226, 226);
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px -2px rgba(255, 255, 255, 255, 0.2);
    animation: up 200ms ease;
}
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* === CLASS: DETAILS AND ITEM === */

.details {
    padding: 32px;
}
.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}
.details .item:last-child {
    border: none;
}
.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}
.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}
.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}
.details .item div:nth-child(2) span {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: white;
    margin-right: 8px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* === FORM === */

input, select {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}
input[type="radio"], input[type="date"], select {
    width: initial;
    margin-right: 5px;
}
input::placeholder {
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
}
button[type="submit"], a.button {
    background-color: var(--primary-color);
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    color: #f0f8ff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#form-delete button[type="submit"] {
    background-color: rgb(240, 60, 60);
    float: right;
    width: 45%;

}
#form button[type="submit"] {
    background-color: var(--primary-color);
    float: left;
    width: 45%;
}

/* INDEX TEACHERS */
.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}
.table-container table {
    border-spacing: 0;

}
.table-container thead tr th {
    text-align: left;
}
th, td {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}
thead tr th:nth-child(3), 
tbody tr td:nth-child(3) {
    text-align: center;
}
thead tr th {
    text-transform: uppercase;
    color: #777;
    font-size: 16px;
}
tbody tr:last-child td {
    border-bottom: none;
}
tbody tr td:first-child {
    display: grid;
    grid-template-columns: 65px 1fr;
    align-items: center;
}
tbody tr td:first-child span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;

}
tbody tr td:last-child a, 
.table-container > a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}
.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}
.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}
tbody tr td {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: bold;
}

/* FILTERS */
.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}
.table-container .header a {
    margin: 0;
    width: 120px;
}
.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}
.table-container .header form button {
    margin: 0;
}
.table-container .header form input {
    border: 1px solid #eee;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 8px;

}