
            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input 
                    type="url"
                    name="avatar_url"
                    value="{{teacher.avatar_url}}"
                    
                    >
                </div>
            </div>

            <div class="item">
                <div>Professor</div>
                <div>
                    <input 
                    type="text"
                    name="name"
                    value="{{teacher.name}}"
                    >
                </div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>
                <input 
                type="date"
                name="birth"
                value="{{teacher.birth}}"
                >
                </div>
            </div>

            <div class="item">
                <div>Graduação</div>
                <div>
                    <select name="degree">
                        <option value="Tecnólogo"
                        {% if teacher.degree == "Tecnólogo" %}selected
                        {% endif %}>Tecnólogo</option>
                        <option value="Bacharel"
                        {% if teacher.degree == "Bacharel" %}selected
                        {% endif %}>Bacharel</option>
                        <option value="Pós Graduação"
                        {% if teacher.degree =="Pós Graduação" %}selected
                        {% endif %}>Pós Graduação </option>
                        <option value="Mestrado"
                        {% if teacher.degree == "Mestrado" %}selected
                        {% endif %}>Mestrado</option>
                        <option value="Doutorado"
                        {% if teacher.degree == "Doutorado" %}selected
                        {% endif %}>Doutorado</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>
                <span>
                    <input 
                        type="radio" 
                        name="class_type" 
                        value="PRESENCIAL" {% if teacher.class_type == "PRESENCIAL" %}
                        checked
                        {% endif %}>PRESENCIAL
                </span>
                <span>
                    <input 
                    type="radio" 
                    name="class_type" 
                    value="À DISTÂNCIA" 
                    {% if teacher.class_type == "À DISTÂNCIA" %}
                    checked
                    {% endif %}>À DISTÂNCIA
                </span>
                </div>
            </div>

            <div class="item">
                <div>Área de Atuação</div>
                    <div>
                        <input 
                        type="text" 
                        name="subject_taught"
                        value="{{teacher.subject_taught}}"
                        >
                    </div>
            </div>


