{% extends "layout.njk" %}

 {% block head %} <link rel="stylesheet" href="/style.css">  {% endblock head %} 

{% block content %}
    <div class="card">
        <section 
        class="avatar"
        style="background: url(https://source.unsplash.com/collection/8491653/300x400) no-repeat center center / cover ">
        </section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Professor</div>
                <div>{{ teacher.name}}</div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>{{ teacher.birth}}</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>
                    <select id="options" name="degree">
                        <option   value="{{teacher.degree}}">{{teacher.degree}}</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>{{"PRESENCIAL" if teacher.classes == "PRESENCIAL" else "À DISTÂNCIA"}}</div>
            </div>

            <div class="item">
                <div>Área de Atuação</div>
                <div>{{teacher.services}}</div>
            <div>
            <div class="item">
                <div>Desde</div>
                <div>{{teacher.created_at}}</div>
            </div>
            <a href="/teachers/{{ teacher.id }}/edit"><button type="submit">Editar</button></a>
        </section>
    </div>
    
{% endblock content %}