{% extends "layout.njk" %}

 {% block head %} <link rel="stylesheet" href="/style.css">  {% endblock head %} 

{% block content %}
    <div class="card">
        <section 
        class="avatar"
        style="background: url({{teacher.avatar_url}}/300x400) no-repeat center center / cover ">
        </section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Professor</div>
                <div>{{ teacher.name}}</div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>{{teacher.age}}</div>
            </div>

            <div class="item">
                <div>Graduação</div>
                <div>{{teacher.degree}}</div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>{{"PRESENCIAL" if teacher.class_type == "PRESENCIAL" else "À DISTÂNCIA"}}</div>
            </div>

            <div class="item">
                <div>Área de Atuação</div>
                <div>{{teacher.subject_taught}}</div>
            <div>
            <div class="item">
                <div>Desde</div>
                <div>{{teacher.created_at}}</div>
            </div>
            <a href="/teachers/{{ teacher.id }}/edit"><button type="submit">Editar</button></a>
        </section>
    </div>
    
{% endblock content %}