{% extends "layout.njk" %}

 {% block head %} <link rel="stylesheet" href="/style.css">  {% endblock head %} 

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section 
        class="avatar"
        style="background: url(https://source.unsplash.com/collection/8491653/300x400) no-repeat center center / cover ">
        </section>

        <section class="details">
            <h3>Novo Instrutor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input 
                    type="url"
                    name="avatar_url"
                    placeholder="Digite sua URL"
                    >
                </div>
            </div>

            <div class="item">
                <div>Professor</div>
                <div>
                    <input 
                    type="text"
                    name="name"
                    placeholder="Digite seu Nome"
                    >
                </div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>
                <input 
                type="date"
                name="birth"
                >
                </div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>
                    <select id="options" name="degree">
                        <option   value="Ensino Médio Completo" >Ensino Médio Completo</option>
                        <option   value="Ensino Superior Completo">Ensino Superior Completo</option>
                        <option   value="Mestrado">Mestrado</option>
                        <option   value="Doutorado">Doutorado</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>
                    <span><input type="radio" name="classes" value="PRESENCIAL">PRESENCIAL</span>
                    <span><input type="radio" name="classes" value="À DISTÂNCIA">À DISTÂNCIA</span>
                </div>
            </div>

            <div class="item">
                <div>Área de Atuação</div>
                    <div>
                        <input 
                        type="text" 
                        name="services"
                        placeholder="Digite sua área de atuação"
                        >
                    </div>
            </div>
            <div>
                <button type="submit">Salvar</button>
            </div>
        </section>
    </form>
    
{% endblock content %}