{% extends "layout.njk" %}

 {% block head %} <link rel="stylesheet" href="/style.css">  {% endblock head %} 

{% block content %}

<div class="card">
    
    <section 
        class="avatar"
        style="background: url(https://source.unsplash.com/collection/8491653/300x400) no-repeat center center / cover ">
    </section>

    <section class="details">
       
            <h3>Editar Professor</h3>

        {% include "teachers/fields.njk" %}

         <form id="form-put" method="POST" action="/teachers?_method=PUT">
            <input 
                type="hidden" 
                name="id"
                value="{{teacher.id}}">
                <button type="submit">Salvar</button>
            
        </form>
        
        <form id="form-delete" method="POST" action="/teachers?_method=DELETE">
            <input 
                type="hidden" 
                name="id"
                value="{{ teacher.id }}">
                <button type="submit">Deletar</button>
        </form>

    </section>
           
</div>
{% endblock content %}