{% extends "layout.njk" %}

 {% block head %} <link rel="stylesheet" href="/style.css">  {% endblock head %} 

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section 
        class="avatar"
        style="background: url({{ teacher.avatar_url}}) no-repeat center center / cover ">
        </section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Professor</div>
                <div>{{ teacher.name}}</div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>{{ teacher.age}}</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>
                    <select id="options" name="degree">
                        <option   value="{{teacher.degree}}">{{teacher.degree}}</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>{{"PRESENCIAL" if teacher.classes == "PRESENCIAL" else "À DISTÂNCIA"}}</div>
            </div>

            <div class="item">
                <div>Área de Atuação</div>
                <div>{{teacher.services}}</div>
            <div>
            <div class="item">
                <div>Desde</div>
                <div>{{teacher.created_at}}</div>
            </div>
                <button type="submit">Salvar</button>
            </div>
        </section>
    </form>
    
{% endblock content %}